#user-form{
    width: 700px;
}
.register-alert-text, .register-success-text{
    font-size: 1.5rem;
    font-weight: 600;
}
.register-alert-text{
    color: red;
}
.register-success-text{
    color: green;
}